body{
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Times New Roman", "Helvetica";
}
h1{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}
h2{
    font-size: 32px;
    text-shadow: #808080 4px 4px 2px;

}
p{
    font-size: 24px;
    padding-top: 15px;
}
img{
    margin: auto;
    display: block;
    width: 550px;
}
div{
    padding: 25px;
    min-height: 150px;
}

#red{
    background: #ff0000;
    text-align: right;
}
#blue{
    background: #0000ff;
    text-align: left;
}
#yellow{
    background: #ffff00;
    text-align: right;
    color: #000000;
}
#yellow h2{
    text-shadow: #c7e2c7 4px 4px 2px;
}
#green{
    background: #008000;
    text-align: left;
}
footer p{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}
